/*------------------------------------*\
    VARIABLES
\*------------------------------------*/


:root {
  /* Defaults */
  --default-font-size      : 16px; /* 100% */
  --default-space          : 1em;
  --default-space-and-half : var( --default-space ) * 1.5;
  --default-space-double   : var( --default-space ) * 2;
  --default-space-triple   : var( --default-space ) * 3;
  --default-space-quad     : var( --default-space ) * 4;
  --default-space-half     : var( --default-space ) / 2;
  --default-space-quarter  : var( --default-space ) / 4;
  --default-pad            : 1em;
  --default-pad-and-half   : var( --default-pad ) * 1.5;
  --default-pad-double     : var( --default-pad ) * 2;
  --default-pad-half       : var( --default-pad ) / 2;
  --default-pad-quarter    : var( --default-pad ) / 4;


  /* Colors */
  --brand-primary-color   : #; /* change accordingly */
  --brand-secondary-color : #; /* change accordingly */
  --brand-facebook        : #3b5998;
  --brand-twitter         : #00acee;
  --brand-linkedin        : #0e76a8;
  --link-color-normal     : #cc0544;
  --link-color-hover      : #; /* change accordingly */
  --font-color            : #; /* change accordingly */


  /* Typography */
  --font-primary   : '', 'arial', 'sans-serif';
  --font-secondary : '', 'Times New Roman', serif;
}

/* Breakpoints */
@custom-media --bp-small ( max-width: 20em );
@custom-media --bp-small-2 ( max-width: 29.75em );
@custom-media --bp-small-3 ( max-width: 39.8em );
@custom-media --bp-medium ( max-width: 46.8em );
@custom-media --bp-medium-2 ( max-width: 48em );
@custom-media --bp-large ( max-width: 50em );
@custom-media --bp-large-2 ( max-width: 66em );
@custom-media --bp-xl ( max-width: 73em );
@custom-media --bp-xxl ( max-width: 89em );
@custom-media --bp-xxxl ( max-width: 93em );
