/*------------------------------------*\
    BODY
\*------------------------------------*/
/**
 * body
 */


body {
  color: var( --font-color );
  font-family: var( --font-primary );
  font-size: 100%;
  line-height: 1.5;
  /* Better Font Rendering =========== */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
